.DS_Store
.eunit
logs
/ebin/*
*~
.#*
*.beam
rel/ec_master
rel/ec_master/*
/reports/*
/log/*
/deps/*
/doc/*
test/ec_fsm_process_SUITE_data/*
src/ec_daytime_parser.erl
src/ec_daytime_scanner.erl
src/ec_parser.erl
src/ec_scanner.erl
rel/files/app.config
/priv/erlhdf5_nif.so
