{erl_opts, [debug_info, warnings_as_errors]}.
{lib_dirs,["deps"]}.
{sub_dirs, ["rel"]}.
{src_dirs, ["src", "test"]}.

{port_sources, ["c_src/*.c"]}.
{cover_enabled, true}.


{port_env, [
	    {"CFLAGS", "$CFLAGS -Ideps/hdf5/include"},
	    {"DRV_CFLAGS","-g -Wall -fPIC $ERL_CFLAGS"},
	    {"darwin", "DRV_LDFLAGS", "deps/hdf5/lib/libhdf5.a -bundle -flat_namespace -undefined suppress $ERL_LDFLAGS"},
	    %% OS X Lion flags for 32-bit
	    {"darwin11.*-32", "CFLAGS", "-m32 $CFLAGS"},
	    {"darwin11.*-32", "CXXFLAGS", "-m32 $CXXFLAGS"},
	    {"darwin11.*-32", "LDFLAGS", "-arch i386 $LDFLAGS"}
	   ]
}.

{port_specs, [{"priv/erlhdf5.so", ["c_src/*.c"]}]}.
{pre_hooks,[{compile,"make -C c_src"}]}.
