{erl_opts, [debug_info, warnings_as_errors]}.
{lib_dirs,["deps"]}.
{sub_dirs, ["rel"]}.
{src_dirs, ["src", "test"]}.

{port_sources, ["c_src/*.c"]}.
{cover_enabled, true}.

{port_env, [
            {"CC", "h5cc"},
	     {"PATH", "./deps/hdf5/bin:$PATH"},
	     {"LDFLAGS", "-shlib"},	
	     {"DRV_CFLAGS","-g -Wall -fPIC $ERL_CFLAGS"}
	   ]
}.

{port_specs, [{"priv/erlhdf5.so", ["c_src/*.c"]}]}.
{pre_hooks,[{compile,"make hdf5"}, {compile,"make -C c_src"}]}.
